<div class="gb hris-widget-container" id="hris-object-widget">
	<div class="hris-widget-inner">
		<div class="hris-widget-masthead">
			<div class="hris-widget-title-container">
				<h2 class="hris-widget-title">Objects</h2>
				<div class="hris-widget-button-icon">
					<a class="hris-tooltip" href="#" title="Edit Attribute Sets"><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
					<a class="hris-tooltip" href="#" title="Add new Attribute Set"><span class="icon"><i class="fa fa-plus-square fa-fw"></i></span></a>
				</div>
			</div>
			<div class="hris-widget-meta"><p class="hris-widget-meta-desc"><em>Objects</em> lets you add, delete, and configure the objects available in the HRIS system.</p></div>
		</div>
	
		<div class="hris-nav-list" id="hris-object-list">
		<ul class="genlist-list list-unstyled">
			<li class="hris-active hris-active-object">
				<div class="hris-nav-list-item">
					<span class="icon hris-item-icon"><i class="fa fa-user fa-fw hris-icon-fw"></i></span>People
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-users fa-fw hris-icon-fw"></i></span>Object 2
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-flag fa-fw hris-icon-fw"></i></span>Object 3
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
		</ul>
		</div>
	
		<div class="hris-nav-list" id="hris-sets-list"></div>
		<div class="hris-nav-list" id="hris-attr-list"></div>
	</div>
	
	<div class="hris-widget-nav-sub">
		<a class="hris-toggle" id="toggle-sets-attr" href="#" title="Show Attribute Sets and Attributes in Single Column"><span class="icon"><i class="fa fa-bars fa-fw"></i></span></a>
		<a class="hris-modal" id="hris-import-data" href="#" title="Import Data"><span class="icon"><i class="fa fa-plus fa-fw"></i></span></a>
	</div>
</div>