<div class="panel panel-default hris-container">
	<div class="hris-container-masthead">
		<a class="hris-menu-trigger" href="#sidr"><span class="icon"><i class="fa fa-bars"></i></span> <span class="hris-menu-trigger-text">Menu</span></a>
		<ul class="nav nav-pills pull-right hris-nav-contextual">
		  <li><a href="#">HRIS Admin</a></li>
		  <li><a href="#">Link 2</a></li>
		  <li><a href="#">Link 3</a></li>
		</ul>
    </div>
	<div class="hris-menu-widget" id="sidr"></div>
	
	<div class="row">
		<div class='col-md-2 hris-object-widget'></div>
		<div class='col-md-2 hris-set-attr-widget'>
			<div class='hris-set-widget'></div>
			<div class='hris-attr-widget'></div>
		</div>
		<div class='col-md-8 hris-stage'>
		<div class='tool-hris-form-set-new'></div>
		<div class='tool-hris-form-object-new'></div>
		<div class='tool-hris-form-attribute-new'></div>
		</div>			
		
	</div>
	<!--<div class="row">
		<div class="col-md-12 hris-newitem-widget sidr sidr-newitem" id="sidr-newitem"></div>
	</div>-->
</div>


<script>

$(document).ready(sizeContent);
$(window).resize(sizeContent);
 
function sizeContent() {
	var containerMasthead = $(".hris-container-masthead").outerHeight(true),
		newHeight = $(window).height()  - containerMasthead,
		widgetMasthead = $(".hris-widget-masthead").outerHeight(true);
	$(".hris-widget-inner").css("padding-top", widgetMasthead + 5);
	//$(".hris-widget-inner-menu").css("padding-top", containerMasthead + "px");
	//$("#hris-menu-widget").css("height", newHeight + "px");
	$(".hris-stage-container").css("height", newHeight + "px");
	$("#hris-object-widget").css("height", newHeight + "px");
	$("#hris-set-widget").css("height", newHeight/2 + "px");
	$("#hris-attr-widget").css("height", newHeight/2 + "px");
	$("#hris-object-widget .hris-nav-list").css("height", newHeight - widgetMasthead  + "px");
	$("#hris-set-widget .hris-nav-list").css("height", newHeight/2 - widgetMasthead - 30  + "px");
	$("#hris-attr-widget .hris-nav-list").css("height", newHeight/2 - widgetMasthead - 30  + "px");
}

$(document).ready(function() {
	$('.hris-menu-trigger').sidr({name:'hris-menu-widget',side:'left'});
	//$('.hris-newitem-trigger').sidr({name:'sidr-newitem', side:'right', displace: false});
}); 

$(document).ready(function () {
	//$("[title]").wijtooltip({
	$(".wtt-help").wijtooltip();
	$(".wtt-field").wijtooltip();
});

</script>