<div class="panel panel-default hris-container">
    <div class="panel-heading hris-container-masthead">
		<a class="hris-menu-trigger" href="#"><span class="icon"><i class="fa fa-bars"></i></span> <span class="hris-menu-trigger-text">Menu</span></a>
    </div>
	<!-- <div class="panel-body"> -->
	<div class="hris-fill">
		<div class="row">
			
			<div class="hris-control-column" style="padding-left: 15px;">				
				<div class="hris-menu-widget"></div>
				<div class='col-md-2 hris-object-widget'></div>
				<div class='col-md-2 hris-set-attr-widget'>
					<div class='hris-set-widget'></div>
					<div class='hris-attr-widget'></div>
				</div>
			</div>
			<div class='hris-content-area'></div>
		</div>
    </div>
</div>

<script>
$(document).ready(function() {
  $('.hris-menu-trigger').click(function() {
    var $hris_menu = $('.hris-menu-widget'),
		$hris_object = $('.hris-object-widget'),
		$hris_set_attr = $('.hris-set-attr-widget');

		
		$hris_menu.animate({
		      left: parseInt($hris_menu.css('left'),10) == 0 ? -$hris_menu.outerWidth() : 0
		    });
		$hris_object.animate({ left: parseInt($hris_object.css('left'),10) == 0 ? 150 : 0 });
		$hris_set_attr.animate({ left: parseInt($hris_set_attr.css('left'),10) == 0 ? 150 : 0 });
				
  });

});
</script>