<div class="panel panel-default hris-container">
    <div class="panel-heading hris-container-masthead">
		<a class="hris-menu-trigger" href="#"><span class="icon"><i class="fa fa-bars"></i></span> <span class="hris-menu-trigger-text">Menu</span></a>
    </div>
	<!-- <div class="panel-body"> -->
	<div class="hris-fill">
		<div class="row">
			<div class="hris-control-column">
				<div class="hide col-md-2 hris-menu-widget"></div>
				<div class='col-md-2 hris-object-widget'></div>
				<div class='col-md-2 hris-set-attr-widget'>
					<div class='hris-set-widget'></div>
					<div class='hris-attr-widget'></div>
				</div>
			</div>
			<div class='hris-content-area'></div>
		</div>
    </div>
</div>