<div class="panel panel-default hris-container">
	<div class="hris-container-masthead">
		<a class="hris-menu-trigger" href="#sidr"><span class="icon"><i class="fa fa-bars"></i></span> <span class="hris-menu-trigger-text">Menu</span></a>
    </div>
	<div class="hris-menu-widget" id="sidr"></div>
	
	<div class="row">
		<div class='col-md-2 hris-object-widget'></div>
		<div class='col-md-2 hris-set-attr-widget'>
			<div class='hris-set-widget'></div>
			<div class='hris-attr-widget'></div>
		</div>
		<div class='col-md-8 hris-stage'></div>			
		
	</div>
	<!--<div class="row">
		<div class="col-md-12 hris-newitem-widget sidr sidr-newitem" id="sidr-newitem"></div>
	</div>-->
</div>


<script>

$(document).ready(sizeContent);
$(window).resize(sizeContent);
 
function sizeContent() {
	var newHeight = $(window).height()  - $(".hris-container-masthead").outerHeight(true);
	$("#hris-menu-widget").css("height", newHeight + "px");
	$(".hris-stage-container").css("height", newHeight + "px");
	$("#hris-object-widget").css("height", newHeight + "px");
	$("#hris-set-widget").css("height", newHeight/2 + "px");
	$("#hris-attr-widget").css("height", newHeight/2 + "px");
}

$(document).ready(function() {
	$('.hris-menu-trigger').sidr({name:'hris-menu-widget',side:'left'});
	//$('.hris-newitem-trigger').sidr({name:'sidr-newitem', side:'right', displace: false});
}); 

</script>