/* =HrisUserProfile Styles */
#hris-user-list li .hris-nav-list-item, #hris-user-profile-list li .hris-nav-list-item { opacity: 1 !important; }
.hris-user-avatar { width: 125px; height: auto; display: block; margin: 10px 0; border: 1px solid rgba(0,0,0,0.1); }
.hris-user-avatar-th { width: 65px; margin: 0 10px 0 0; display: inline-block; }

.hris-filter-summary { padding: 1.5em 0; position: relative; }
.hris-filter-summary ul { margin: 0 auto; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; }
.hris-filter-summary ul li { border: 1px solid rgba(0,0,0,0.1); float: none; display: inline-block; margin: 0.75rem 10px; }
.hris-filter-summary ul li.hris-filter-label { border: 0; font-weight: bold; text-transform: uppercase; color: #999999; }
.hris-filter-summary ul li a { display: inline-block; }

.hris-filter-summary .filter-on { background: #333 !important; border-radius: 0 !important; color: #fff; opacity: 0.75; }

#hris-user-overview-summary ul { border-left: 1px solid rgba(0, 0, 0, 0.1); }
#hris-user-overview-summary ul li { position: relative; display: block; margin: 5px 0; padding: 5px 5px 5px 15px; border-left: 5px solid transparent; }
#hris-user-overview-summary ul li:hover { background: rgba(0,0,0,0.1); border-left: 5px solid rgba(0,0,0,0.1); }
#hris-user-overview-summary ul li .icons { display: none; }
#hris-user-overview-summary ul li:hover .icons { display: block; }

.hris-profile-table, .hris-profile-table-edit { position: relative; }	
.hris-profile-table td.hris-profile-attr, .hris-profile-table-edit td.hris-profile-attr { font-weight: bold; border-right: 1px solid #cccccc; width: 40%; }
.hris-profile-table tr, .hris-profile-table tr { }
.hris-profile-table tr span.hris-item-icon { display: block; opacity: 0; float: right; }
.hris-profile-table tr:hover span { opacity: 1; }
.hris-profile-table tr:hover td, .hris-profile-table-edit tr:hover td { background-color: #f5f5f5; }

.hris-edit-avatar { width: 127px; position: relative; border: 1px solid rgba(0,0,0,0.1); padding: 0; padding-top: 0 !important; }
.hris-edit-avatar img { margin: 0 !important; border: 0 !important; display: block; }
.hris-edit-avatar a { display: block; width: 100%; text-align: center; background-color: #333; color: #fff; font-variant: uppercase; padding: 5px 0; margin: 0; border: 0; }
.hris-edit-avatar a:hover { text-decoration: none; color: #fff; }

.hris-user-form { margin: 15px 30px 15px 15px; }

/* =End HrisUserProfile Styles */


/*.icons, .hris-widget-button-icon {position:absolute;top:9px;right:0;margin-top:-10px; }*/
.icons, .hris-widget-button-icon {position:absolute;top:48%;right:0;margin-top:-10px; }
.hris-widget-button-icon {top:8px;right:0;margin-top:-10px; width: 40px; }
.icons { display: none; }
.icons .icon, .hris-widget-button-icon .icon {position:relative;top:0;left:0;display:inline-block;opacity:.5;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out; }
.icons .icon:hover, .hris-widget-button-icon .icon:hover {opacity:1;}
.hris-icon-fw { margin-right: 0.5em; font-size: 1.5rem; }
.hris-icon-inverse { color: #f0f0f0; opacity: 1 !important; }

.hris-bottom-anchor { margin: 0; padding:10px 0; background: #f0f0f0; border-top: 1px solid rgba(0, 0, 0, 0.1); }

/* =HRIS Widgets */
/*.hris-widget-container { border-right: 1px solid rgba(0, 0, 0, 0.1); background-color: #f0f0f0; }*/
.hris-widget-masthead { /*margin: 0 15px; */ position: absolute; top: 15px; left: 15px; right: 15px }
.hris-widget-masthead .hris-widget-title { font-size: 1.2em; margin: 0; padding:0; padding-right: 40px; }
.hris-widget-masthead .hris-widget-meta { color: #777777; margin: 15px 0; }
.hris-widget-masthead .hris-widget-meta-desc { font-size: 0.75em; }

/* .hris-widget-inner { overflow: auto; position: absolute; top: 15px; left: 0; right: 0; bottom: 0; -webkit-overflow-scrolling: touch; } */
.hris-widget-inner { position: relative; }
.hris-widget-inner-menu { padding-top: 35px; }
.hris-widget-inner-set { }
.hris-widget-inner-attr { }

.hris-nav-list { overflow: auto; position: relative; /*position: absolute; top: 85px; left: 0; right: 0; /*bottom: 0;*/ -webkit-overflow-scrolling: touch; }
.hris-nav-list li { position: relative; display: block; padding: 0.75em 15px; cursor:pointer; margin: 0; }
.hris-nav-list li .hris-nav-list-item { opacity: 0.5; -webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out; }
.hris-nav-list li .hris-nav-list-item:hover { opacity: 1; }
.hris-nav-list-item:hover .icons { display: block; }
/*.hris-nav-list-item .icons { display: block; }*/

.hris-widget-nav-sub, .hris-widget-bottom-btn { position: absolute; bottom: 0; left: 0; width: 100%; }
.hris-toggle, .hris-modal { display: block; padding: 15px 0; margin: 0; border-top: 1px solid rgba(0,0,0,0.1); text-align: center; width: 100%; }

.hris-active { background-color: rgba(255, 255, 255, 0.65) !important; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.hris-active .hris-nav-list-item, .hris-active .hris-item-icon i { font-weight: bold; color: #333333; opacity: 1 !important; }
.hris-active-object { }
.hris-active-sub .icons { display: block; }
.hris-active-sub .hris-nav-list-item, .hris-active-sub .hris-item-icon i, .hris-active-menu .hris-nav-list-item, .hris-active-menu .hris-item-icon i { font-weight: bold; color: #333333; opacity: 1 !important; }
.hris-active-menu .hris-nav-list-item, .hris-active-menu .hris-item-icon i { color: #fff; }


/* =HRIS Menu Widget */
/*.hris-menu-widget { padding-left: 15px; padding-right: 0; float: left; position: absolute; top: 0; left: -150px; width: 150px; overflow: hidden; }*/
/*.hris-menu-widget { padding: 0; position: absolute; top: 0; left: -200px; width: 200px; }*/
#hris-menu-widget { background-color: #333; }
#hris-menu-widget ul li { color: #fff; }
.add-menu-links { border-top: 1px solid #666; }

