.gb { background-color: #f7f7f7; }
.rb { border: 1px solid #f00; }

/* =Bootstrap Overrides */
.form-horizontal .form-group { margin-right: 0; margin-left: 0; }

html, body { height: 100% !important; margin: 0; padding: 0; /*overflow: hidden; overflow-x: hidden; overflow-y: hidden; */}
body { font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif; color: #333; }
a { color: #333333; text-decoration: none; opacity: 0.5; -webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out; outline: 0; border: 0;}
a:hover, a:visited { color: #333333; opacity: 1; outline: 0; border: 0;}

div { position: relative; }

.row { /*overflow: hidden; */}

.btn, .btn:hover, .btn:focus, a.btn, a.btn:hover, a.btn:visited { border-radius: 0; color: #fff; border: 1px solid transparent;}
.hris-btn { margin: 0 5px; opacity:.75;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out;}
.hris-btn:hover, .hris-btn:focus { opacity: 1; }
.hris-btn-dk { color: #fff; background-color: #444444; }
.hris-btn-dk:hover, .hris-btn-dk:focus { color: #fff; }


/* =HRIS App */
.hris-container-full { padding: 0; margin: 0; }
.hris-container { margin: 0; border-radius: 0; border: 0; overflow-x: hidden; }
.hris-control-column { overflow: hidden; position: relative; margin-left: 15px; }
.hris-container-masthead { background-color: #444444 !important; border-radius: 0 !important; padding: 15px; /*box-shadow: 0 1px 1px #333; z-index: 5000; */}
.hris-menu-trigger, .hris-menu-trigger icon i { color: #f0f0f0 !important; opacity: 1 !important; }
.hris-menu-trigger:hover { color: #444444; text-decoration: none; }

.icons, .hris-widget-button-icon {position:absolute;top:9px;right:0;margin-top:-10px;}
.hris-widget-button-icon {top:8px;right:0;margin-top:-10px; }
.icons { display: none; }
.icons .icon, .hris-widget-button-icon .icon {position:relative;top:0;left:0;display:inline-block;opacity:.5;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out; }
.icons .icon:hover, .hris-widget-button-icon .icon:hover {opacity:1;}
.hris-icon-fw { margin-right: 0.5em; font-size: 1.5rem; }
.hris-icon-inverse { color: #f0f0f0; opacity: 1 !important; }

.hris-bottom-anchor { margin: 0; padding:10px 0; background: #f0f0f0; border-top: 1px solid rgba(0, 0, 0, 0.1); }

/* =HRIS Widgets */
.hris-widget-container { border-right: 1px solid rgba(0, 0, 0, 0.1); /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/ padding-top: 15px; background-color: #f0f0f0; }
.hris-widget-masthead { margin: 0 15px; }
.hris-widget-masthead .hris-widget-title { font-size: 1.2em; margin: 0; padding:0; }
.hris-widget-masthead .hris-widget-meta { color: #777777; margin: 15px 0; }
.hris-widget-masthead .hris-widget-meta-desc { font-size: 0.75em; }

.hris-widget-inner { overflow: auto; position: absolute; top: 15px; left: 0; right: 0; bottom: 0; -webkit-overflow-scrolling: touch; }
.hris-widget-inner-menu { }
.hris-widget-inner-set { }
.hris-widget-inner-attr { }

.hris-stage { position: relative; padding: 0; margin: 0; }
.hris-stage-container { position: absolute; top: 0; left: 0; right: 0; width: 100%; background: #fff; margin: 0; padding: 0; overflow-y: auto; }
.hris-stage-main { clear: right; }

.hris-nav-list { }
.hris-nav-list li { position: relative; display: block; padding: 0.75em 15px; cursor:pointer; margin: 0; }
.hris-nav-list li .hris-nav-list-item { opacity: 0.5; -webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out; }
.hris-nav-list li .hris-nav-list-item:hover { opacity: 1; }
.hris-nav-list-item:hover .icons { display: block; }

.hris-widget-nav-sub { position: absolute; bottom: 0; left: 0; width: 100%; }
.hris-toggle, .hris-modal { display: block; padding: 15px 0; margin: 0; border-top: 1px solid rgba(0,0,0,0.1); text-align: center; width: 100%; }

.hris-active { background-color: rgba(255, 255, 255, 0.65) !important; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.hris-active .hris-nav-list-item, .hris-active .hris-item-icon i { font-weight: bold; color: #333333; opacity: 1 !important; }
.hris-active-object { }
.hris-active-sub .icons { display: block; }
.hris-active-sub .hris-nav-list-item, .hris-active-sub .hris-item-icon i, .hris-active-menu .hris-nav-list-item, .hris-active-menu .hris-item-icon i { font-weight: bold; color: #333333; opacity: 1 !important; }
.hris-active-menu .hris-nav-list-item, .hris-active-menu .hris-item-icon i { color: #fff; }

.hris-newitem-list { position: relative; margin: 15px; border-bottom: 1px solid #f0f0f0; padding-bottom: 15px; height: 50px; }
.hris-newitem-list ul { float: right;  }
/* =HRIS Menu Widget */
/*.hris-menu-widget { padding-left: 15px; padding-right: 0; float: left; position: absolute; top: 0; left: -150px; width: 150px; overflow: hidden; }*/
/*.hris-menu-widget { padding: 0; position: absolute; top: 0; left: -200px; width: 200px; }*/
#hris-menu-widget { background-color: #444; }
#hris-menu-widget ul li { color: #fff; }
.add-menu-links { border-top: 1px solid #666; }

/* =HRIS Object Widget */
.hris-object-widget { padding-left: 15px; padding-right: 0; overflow: hidden; position: relative; top: 0; left: 0; }
/*.hris-object-widget { padding-left: 15px; padding-right: 0; overflow: auto; position: absolute; top: 0; left: 0; bottom: 0; }*/
#hris-object-widget { padding-bottom: 120px; }

/* =HRIS Set Widget */
.hris-set-attr-widget { padding: 0; }
#hris-set-widget { background-color: #f6f6f6; }

/* =HRIS Attribute Widget */
#hris-attr-widget { border-top: 1px solid rgba(0, 0, 0, 0.1); background-color: #f6f6f6; }

/* =HRIS Form Container */
.hris-form-container { margin: 15px; }

