########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
assets/appdev

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.project
.settings



########################
# local config
########################
config/local.js
config/appdev.js

########################
# appdev related
########################
.adn

.gitignore
