<div class="row">
	<div class='col-xs-12 opsportal-stage-full'>
	    <div class='tool-balance-report-type'></div>
	    <div class='tool-balance-report-upload'></div>
	    <div class='tool-balance-report-review'></div>
		<div class='tool-balance-report-send'></div>
		<div class='tool-balance-report-send-national'></div>
	</div>			
</div>