<div class="panel panel-default apd-portal-container">
    <div class="apd-portal-container-masthead">
        <a class="apd-portal-menu-trigger" href="#"><span class="icon"><i class="fa fa-bars"></i></span> <span class="apd-portal-menu-trigger-text">Menu</span></a>
    </div>
    <!-- <div class="panel-body"> -->
    <div class="apd-portal-fill">
        <div class="apd-portal-menu-widget"></div>
        <div class="row apd-portal-content">
        </div>
    </div>
</div>