
    <div class="row">
		<div class='col-md-2 hris-object-widget'></div>
		<div class='col-md-2 hris-set-attr-widget'>
			<div class='hris-set-widget'></div>
			<div class='hris-attr-widget'></div>
		</div>
		<div class='col-md-8 hris-stage'>
		    <div class='tool-hris-form-set-new'></div>
		    <div class='tool-hris-form-object-new'></div>
		    <div class='tool-hris-form-attribute-new'></div>
		</div>			
		
	</div>