                <div class="hris-admin-objectdef">
                    <div class="hris-control-column">			
                        <div class='col-md-2 hris-object-widget'></div>
                        <div class='col-md-2 hris-set-attr-widget'>
                            <div class='hris-set-widget'></div>
                            <div class='hris-attr-widget'></div>
                        </div>
                    </div>
                    <div class='hris-content-area'></div>
                </div>