<div class="gb hris-widget-container" id="hris-set-widget">
	<div class="hris-widget-inner hris-widget-inner-set">
		<div class="hris-widget-masthead">
			<div class="hris-widget-title-container">
				<h2 class="hris-widget-title">Attribute Sets</h2>
				<div class="hris-widget-button-icon">
					<a class="hris-tooltip" href="#" title="Edit Attribute Sets"><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
					<a class="hris-tooltip" href="#" title="Add new Attribute Set"><span class="icon"><i class="fa fa-plus-square fa-fw"></i></span></a>
				</div>
			</div>
			<div class="hris-widget-meta"><p class="hris-widget-meta-desc"><em>Attribute Sets</em> belong to <em>Objects</em> and contain categorized attributes belonging to an object.</p></div>
		</div>
	
		<div class="hris-nav-list" id="hris-set-list">
		<ul class="list-unstyled">
			<li class="">
				<div class="hris-nav-list-item">
					<span class="icon hris-item-icon"><i class="fa fa-camera fa-fw hris-icon-fw"></i></span>Avatar
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon hris-item-icon"><i class="fa fa-user fa-fw hris-icon-fw"></i></span>Name
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-phone fa-fw hris-icon-fw"></i></span>Phone
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-envelope fa-fw hris-icon-fw"></i></span>Email
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-link fa-fw hris-icon-fw"></i></span>Social/Web
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-book fa-fw hris-icon-fw"></i></span>Address
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
		</ul>
		</div>
	
	</div>
	
</div>