<div class="hris-stage-container">

<div class="hris-newitem-list">
	<ul class="list-unstyled list-inline">
	<li><a href="#" class="btn hris-btn hris-btn-dk" role="button">Create Object</a></li>
	<li><a href="#" class="btn hris-btn hris-btn-dk" role="button">Create Attribute Set</a></li>
	<li><a href="#" class="btn hris-btn hris-btn-dk" role="button">Create Attribute</a></li>
	</ul>
</div>

<div class="hris-stage-main id="hris-newattr-widget">

<form class="form-horizontal hris-form-container">
<fieldset>

<!-- Form Name -->
<legend>New <em>Object</em></legend>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Icon</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Attribute Name</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Attribute Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Column</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
<div class="col-md-4"><span class="help-block" style='float: left;'>help</span></div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Data Type</label>
  <div class="col-md-4">
    <select name="selectbasic" class="form-control">
      <option value="1">Text</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Permission</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxes">Unique Key</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
      1
    </label>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
	<div class="col-md-12 pull-right">
		<button id="button2id" name="button2id" class="btn pull-right hris-btn hris-btn-dk">Cancel</button>
		<button type="submit" id="button1id" name="button1id" class="btn btn-primary pull-right hris-btn">Save</button>
	</div>
</div>

</fieldset>
</form>
	
</div>
</div>