
			<li>
				<div class="apd-portal-nav-list-item"  area="<%= area.key %>" >
					<span class="icon apd-portal-item-icon"><i class="fa fa-fw apd-portal-icon-fw  <%= area.icon %>"></i></span><%= area.label %>
				</div>
			</li>
			