<div class="apd-portal-widget-container" id="apd-portal-menu-widget">
	<div class="apd-portal-widget-inner apd-portal-widget-inner-menu">
		
		<div class="apd-portal-nav-list" id="apd-portal-menu-list">
		<ul class="list-unstyled">
			<li>
				<div class="apd-portal-nav-list-item">
					<span class="icon apd-portal-item-icon"><i class="fa fa-user fa-fw apd-portal-icon-fw"></i></span>Profile
				</div>
			</li>
			<li class="apd-portal-active-menu">
				<div class="apd-portal-nav-list-item">
					<span class="icon"><i class="fa fa-wrench fa-fw apd-portal-icon-fw"></i></span>HR Admin
				</div>
			</li>
			<li>
				<div class="apd-portal-nav-list-item">
					<span class="icon"><i class="fa fa-question fa-fw apd-portal-icon-fw"></i></span>Help
				</div>
			</li>
			<li class="add-menu-links">
				<div class="apd-portal-nav-list-item">
					<span class="icon"><i class="fa fa-flask fa-fw apd-portal-icon-fw"></i></span>Beta Test
				</div>
			</li>
			<li>
				<div class="apd-portal-nav-list-item">
					<span class="icon"><i class="fa fa-key fa-fw apd-portal-icon-fw"></i></span>Framework Admin
				</div>
			</li>
		</ul>
		</div>
	</div>
	
	<div class="apd-portal-widget-nav-sub">
		<a class="apd-portal-toggle" href="#" title="appDev Designs"><img src="../../images/appdev_logo_white.png" style="width: 70px; height: auto;" /></a>
	</div>
</div>