<div class="apd-portal-widget-container" id="apd-portal-menu-widget">
	<div class="apd-portal-widget-inner apd-portal-widget-inner-menu">
		
		<div class="apd-portal-nav-list" >
		<ul class="list-unstyled">
			
		</ul>
		</div>
	</div>
	
	<div class="apd-portal-widget-nav-sub">
		<a class="apd-portal-toggle" href="#" title="appDev Designs"><img src="../../images/appdev_logo_white.png" style="width: 70px; height: auto;" /></a>
	</div>
</div>