<div class="opsportal-stage-container">
	<div class="opsportal-stage-main">

		<p>BalanceReportType</p>
		<p>foobar</p>
		<p>foobar</p>
		<p>foobar</p>
		<p>foobar</p>
		<p>foobar</p>
		<p>foobar</p>
		<p>foobar</p>
		<p>foobar</p>
		<p>foobar</p>
		<p>foobar</p>
		<p>foobar</p>
		

	</div> <!-- end .opsportal-stage-main -->
</div> <!-- opsportal-stage-container -->