<div class="gb hris-widget-container" id="hris-attr-widget">
	<div class="hris-widget-inner hris-widget-inner-attr">
		<div class="hris-widget-masthead">
			<div class="hris-widget-title-container">
				<h2 class="hris-widget-title">Attributes</h2>
				<div class="hris-widget-button-icon">
					<a class="hris-tooltip" href="#" title="Quick Edit Attribute"><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
					<a class="hris-tooltip hris-newitem-trigger" href="#sidr-newitem" title="Add new Attribute"><span class="icon"><i class="fa fa-plus-square fa-fw"></i></span></a>
				</div>
			</div>
			<div class="hris-widget-meta"><p class="hris-widget-meta-desc"><em>Attributes</em> belong to <em>Attribute Sets</em> and contain attributes belonging to an attribute set.</p></div>
		</div>
	
		<div class="hris-nav-list" id="hris-attr-list">
		<ul class="list-unstyled">
			<li class="">
				<div class="hris-nav-list-item">
					<span class="icon hris-item-icon"><i class="fa fa-map-marker fa-fw hris-icon-fw"></i></span>Address
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon hris-item-icon"><i class="fa fa-star fa-fw hris-icon-fw"></i></span>City
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-road fa-fw hris-icon-fw"></i></span>State/Province
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-flag fa-fw hris-icon-fw"></i></span>Country
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-key fa-fw hris-icon-fw"></i></span>Postal Code
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-key fa-fw hris-icon-fw"></i></span>Postal Code
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-key fa-fw hris-icon-fw"></i></span>Postal Code
					<div class="icons">
						<a href="#" title="Configure "><span class="icon"><i class="fa fa-cog fa-fw"></i></span></a>
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
		</ul>
		</div>
	
	</div>
	
</div>