
			<li class="genlist-item"  gen-list-del-id="<%= item.getID() %>" >
				<div class="hris-nav-list-item">
					<%= item.attr('attribute_label') %>
					<div class="icons">
						<a href="#" title="Delete "><span class="icon"><i class="fa fa-times fa-fw"></i></span></a>
					</div>
				</div>
			</li>
			