<div class="hris-widget-container" id="hris-menu-widget">
	<div class="hris-widget-inner-menu">
		
		<div class="hris-nav-list">
		<ul class="genlist-list list-unstyled">
			<li>
				<div class="hris-nav-list-item">
					<span class="icon hris-item-icon"><i class="fa fa-user fa-fw hris-icon-fw"></i></span>Profile
				</div>
			</li>
			<li class="hris-active-menu">
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-wrench fa-fw hris-icon-fw"></i></span>HR Admin
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-question fa-fw hris-icon-fw"></i></span>Help
				</div>
			</li>
			<li class="add-menu-links">
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-flask fa-fw hris-icon-fw"></i></span>Beta Test
				</div>
			</li>
			<li>
				<div class="hris-nav-list-item">
					<span class="icon"><i class="fa fa-key fa-fw hris-icon-fw"></i></span>Framework Admin
				</div>
			</li>
		</ul>
		</div>
	</div>
	
	<div class="hris-widget-nav-sub">
		<a class="hris-toggle" href="#" title="appDev Designs"><img src="../../images/appdev_logo_white.png" style="width: 70px; height: auto;" /></a>
	</div>
</div>